.pLR {
    width: 95%;
    margin: auto;
}
.styledbutton {
    border: 1px solid transparent;
    width: auto;
    border-radius: 4px;
    margin-left: 10px;
    color: green;
    font-size: 1.2em;
    font-variant: small-caps;
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.118), rgba(66, 190, 235, 0.165));
}
.styledbutton:hover {
    background: transparent;

    color: green !important;
    border: solid 1px green;
}
