.Container {
    height: 19rem;
    width: 23.5%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 125px rgba(0, 255, 0, 0.065);
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
    overflow: hidden;
}
@media (max-width: 992px) {
    .Container {
        height: 19rem;
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 40px !important ;
    }
}

@media (max-width: 768px) {
    .Container {
        height: 19rem;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 40px !important ;
    }
}

@media (max-width: 600px) {
    .Container {
        height: 19rem;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* padding-top: 20px; */
        margin-top: 40px !important ;
    }
    .Image {
        height: 100%;
        width: 100%;
    }
}

.Image {
    height: 12rem;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.Container:hover .Overlay {
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.254), rgba(66, 190, 235, 0.5));
}

.Title {
    font-family: 'Playfair Display', serif;
}

.Overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.Text {
    color: transparent;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.Container:hover {
    transform: scale(1.1);
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 100px rgba(0, 255, 0, 0.255);
}
.Container:hover .Text {
    color: white;
}
.Container:hover .btnReserver {
    background-color: white;
    color: green;
}
.btnReserver {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 2px;
    background-color: transparent;
    color: transparent;
}
.styledbutton {
    border: 1px solid transparent;
    width: auto;
    border-radius: 4px;
    margin-left: 10px;
    color: green;
    font-size: 1.2em;
    font-variant: small-caps;
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.118), rgba(66, 190, 235, 0.165));
}
.styledbutton:hover {
    background: transparent;
    color: green !important;
    border: solid 1px green;
}
.padding {
    padding-right: 10px;
}
